.box-container
	- @movies.each do |m|
		.box
			%a{:href =>"/movies/#{m.id}", :class =>'s-desc'}
				.movie-title #{m.title}
				.genre
					%p Genre: #{m.genre}
					.language
						%p Country: #{m.language}	
						.duration
							%p Duration: #{m.duration} min	
