- @tags.each do |tag|
	%a{:href=>"/results/#{tag}"} #{tag}
.box-container
	- @movies.each do |m|
		.box{:style => "background-image: url(assets/#{m.img_url})"}
			%a{:href =>"/movies/#{m.id}", :class =>'s-desc'}
				.movie-title #{m.title}
				.genre
					%p Genre: #{m.genre}
					.country
						%p Country: #{m.country}	
						.duration
							%p Duration: #{m.duration} min	
