.box-container
	%h2 Nombre de résultats : #{@movies.count}
	- @movies.each do |m|
		.box
			%a{:href =>"/movies/#{m.id}", :class =>'s-desc'}
				.movie-title #{m.title}
				.genre
					%p Genre: #{m.genre}
					.language
						%p Country: #{m.language}	
						.duration
							%p Duration: #{m.duration} min	
- if @movies.empty?
	%h2 No result
- if @movies.empty?
	.box-container
		- @other_movies.each do |m|
			.box
				%a{:href =>"/movies/#{m.id}", :class =>'s-desc'}
					.movie-title  #{m.title}
					.genre
						%p Genre: #{m.genre}
						.language
							%p Country: #{m.language}
							.duration
								%p Duration: #{m.duration} minsult