
.movie_container 
  %h1= @movie.title  
  .player_info
    .column1
      .image_film 
        =image_tag("cinema.jpg", :class => "cinema")
      .button_watch
        = link_to image_tag("watch.png", :class => "watch"), {:controller => "movies", :action => "watch"}, {:class => "link_button1"}
    .column2
      .text_film
        %h3 Fiche technique du film
        %p filmmmaker: #{@movie.filmmaker_name}
        %p country: #{@movie.country}
        %p duration: #{@movie.duration} min
        %p
      .button_download
        = link_to image_tag("download.png", :class => "download"), { :controller => "movies", :action => "download"}, :target => "_blank"
