
.movie_container 
  %h1= @movie.title  
  .player_info
    .column1
      .image_film{:style => "background-image: url(assets/#{@movie.img_url})"}
      .button_watch
        = link_to image_tag("watch.svg", :class => "watch"), {:controller => "movies", :action => "watch"}, {:class => "link_button1"}
    .column2
      .text_film
        %h3 Description
        %p Filmmaker: #{@movie.filmmaker_name}
        %p Size : #{@movie_size} Mo
        %p Duration: #{@movie.duration} min
        %p Tags : #{@tags}
      .button_download
        = link_to image_tag("download.svg", :class => "download"), {:controller => "movies", :action => "download"}, :target => "_blank"

