.navbar-header
	= link_to image_tag('logo.png'), '/', :class =>'logo'	   
	= form_tag "/results", :class => 'form_tag', :method => 'get' do
		= label_tag :"Movies: "
		= select_tag :id, options_for_select( Movie.all.map {|m| [ m.title, m.id ] }, params[:id]), :class =>'select_tag', :include_blank => false
		= submit_tag "Search", :name => nil, :class =>'submit-btn'	  
		   
		     